<div data-role="page" id="records_of_<%= @class_name %>">
    <div data-role="header">
        <%= link_to 'SObjects', sobjects_path, "data-icon" => "arrow-l", "class" => "ui-btn-left" %>
        <h1><%= @class_name %></h1>
        <%= link_to 'Add', new_sobject_record_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
    </div>
    <% if @klass.attributes.include?("Name") %>
        <ul data-role="listview" data-theme="g">
            <% @records.each do |r| %>
                <li>
                    <%= link_to r.Name, sobject_record_path(@class_name, r) %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <p>The Name attribute is not present on <%= @class_name %> sobject.</p>
    <% end %>
</div>