<div data-role="page" id="record_detail<%= @record.Id %>">
    <div data-role="header">
        <%= link_to 'Records', sobject_records_path, :remote => true, "data-icon" => "arrow-l", "class" => "ui-btn-left" %>
        <h1><%= @record.Name %></h1>
    </div>
    <div class="ui-grid-a">
        <% @record.attributes.each do |k, v| %>
            <div data-role="collapsible">
                <h3><%=k%></h3>
                <p><%= v %></p>
            </div>
        <% end %>
    </div>
</div>